* {
 font-family: Merriweather, Times, Helvetica, Arial, sans-serif;
 color: black;
}

body {
	background-color: rgba(0, 0, 0, 0.2); !important;
}

h2, h3 {
	padding: 0;
	margin: 0;
	font-weight: bold;
}

p {
	margin: 0;
	padding: 0;
	font-size: 18px
}


li {
	font-size: 18px;
	width: 800px;
	padding-left: 100px;
}

#pic {
	float: right;
	border: #42A8C0 5px solid;
	border-radius: 0px;
	height: 200px;
	width:200px;
	padding: 0px;
}



.container {
	width:100%;
	margin : auto;	
	border-radius: 0px;
	background-color: #E1EEF3;
	text-align: left;
	border: 2px solid rgba(0, 0, 0, 0.2); 
}


header {
	margin: 0;
	padding: 0;
	letter-spacing: 0;
	border-bottom: 1px solid #999;
}



#education {
	border-bottom: 1px solid #999;
	padding: 0;
}






